/*******************************
            Global
*******************************/

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 290px;
  overflow-x:hidden;
  
}



.mainpagecont{
min-height:600px;
/*border:1px solid #000000;*/
}

/*******************************
          UI Overrides
*******************************/

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ui.header,
h1,
h2 {
  font-weight: normal !important;
}

h1.ui.header {
font-size: 3em;
/*
font-family:'Gotham SSm A';
font-weight:bold;
*/
}

h4.ui.header,
h5.ui.header,
.ui.icon.header {
  font-weight: bold !important;
}

.ui.button {
  font-weight: normal;
  text-decoration: none;
}

a {
  color: #009FDA;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #00BAFF;
}

p a {
  font-weight: bold;
}

/*******************************
            Global
*******************************/
/*rtl:ignore*/
.menu .right2.menu > .mobile.item {
  display: none;
}

/* Custom secondary menu */
.ui.secondary.menu .item,
.ui.secondary.menu .link.item,
.ui.secondary.menu a.item {
opacity: 1;
color:#ffffff !important;
}
.ui.secondary.menu .item > .input input {
  background-color: #ffffff;
  border: none;
}
/* Custom Menu Ends */

.ui.segment.menusegment{
 background-image: url(/img/tak/bg3.jpg);
-webkit-background-size: cover;
background-size: cover;
}

.ui.page.grid.segment {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  
}
.feature.segment{

   background-image: url(/img/tak/bg4.jpg);
  overflow: hidden;
  -webkit-background-size: cover;
  background-size: cover;


}
.grid.bottomgrid{

   background-image: url(/img/tak/bg4.jpg);
  overflow: hidden;
  -webkit-background-size: cover;
  background-size: cover;


}
.header.footer a{
color:#ffffff;
}
.footer.segment{
  background-image: url(/img/tak/bg3.jpg);
  overflow: hidden;
  -webkit-background-size: cover;
  background-size: cover;
}
.masthead.segment {
  background-image: url(/img/tak/bg3.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0em;
  padding-top: 4rem;
  overflow: hidden;
  -webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
  box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
  
}

.masthead.segment .column {
  position: relative;
}

.masthead.segment .information {
  margin: 3em 1em 1em 280px;
}

.masthead.segment .information p {
  max-width: 600px;
  margin: 0em 0px 2em 0em;
  font-size: 1.2em;
}

.masthead.segment h1.ui.header .sub {
  font-size: 0.7em;
}

.masthead.segment .image {
  position: absolute;
  left: 0%;
  bottom: -110px;
  top: -30px;
}

.overview .divided.grid .header + p {
  min-height: 100px;
}

.ui.shape .icon,
.link.list .icon {
  margin: 0em;
  padding: 0em;
}

.ui.cube.shape .side {
  background-color: transparent;
}

/*******************************
          Responsive
*******************************/

/* Mobile Only */
@media only screen and (max-width : 360px) {
.masthead.segment .image {
	 display:none;
	}
  .masthead.segment .information {
  position:relative;
  right:180px;
  /*border:1px solid #ffff00;*/
  width:100%;
  }
 .masthead.segment .column p {
    display: none;
  }
 .masthead.segment .column p {
    display: inherit;
  }
  .list.catcontentdisplay{
  padding-right: 2rem;
  /*border:1px solid #000000;*/
  }
}


@media only screen and (max-width : 768px) {
	.mainpagecont{
	min-height:200px;
  }
 .ui.page.grid.segment {
    padding-top: 2rem;
    padding-bottom: 2rem;
	padding-right: 3rem;
  }
  .masthead.segment{
	display: none;
	}
 /*rtl:ignore*/
  .menu .right2.menu > .item {
    display: none;
	/* border:1px solid #ffff00;*/
  }
  /*rtl:ignore*/
  .menu .right2.menu > .mobile.item {
    display: block;
	padding:0px !important;
	margin-left:0px !important;
	text-align:center;

  }
  h2.ui.header.logo{
  text-align:center;
  padding-top:12px;
  }
	
  .segment.menusegment{
  padding-left:0px;
  text-align:left !important;
  }

  .menu.beneathlogo{
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  /*border:1px solid #ffffff;*/
  padding-right: 1rem;
  }

   .masthead.segment .image {
	  position: absolute;
	  left: 0%;
	  bottom: -110px;
	  top: 10px;
	}
  h1.ui.header {
    font-size: 2em;
	padding-top:0.5em;
  }

  .masthead.segment {
    -webkit-background-size: auto;
    background-size: auto;
  }

  .masthead.segment .information {
    margin-left: 190px;
  }

  .masthead.segment .image {
    bottom: -65px;
    width: 150px;
  }

  .masthead.segment .button {
    font-size: 1rem;
  }

  .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  .overview .divided.grid .header + p {
    min-height: 0px;
  }

  .masthead.segment .column {
    font-size: 0.7rem;
  }

  .masthead.segment .column p {
    display: none;
  }
  
  
  /*rtl:ignore*/
  .selection.list .right.floated {
    display: none;
  }
}

@media only screen and (max-width : 1000px) {

}




/* Custom */
/* */
.quiz_container{

min-height:100px;
padding:0px 0;
margin:0 auto;
overflow:hidden;
margin-bottom:8px;
}

.quiz_answer_title{
font-size:18px;font-weight:bold;
color:#0066CC;
border-bottom:1px dotted #A8A8A8;
}
.quiz_answer{
font-size:14px;font-weight:normal;
color:#000000;
}
.hiders{
width:100%;
display:block;
height:auto;

background-color:#ffffcc;
}
.quiz_show_answer_button{
/*
cursor:pointer;
display:block;width:110px;color:#ffffff;
padding:6px;background-color:#0066CC;border:1px solid #003399;
font-size:16px;
*/
}
.quiz_show_answer_button_opened{

}
.noneinline{
display:none;
}
.quiz_correct_answer{
font-size:16px;
border:1px dotted #003300;
background-color:#2fa7ee;
color:#ffffff;padding:6px;
}

.quiz_explain_box{
background-color:#e6f5fb;
padding:6px;
}
.quiz_explain_title{
font-size:16px;
color:#000000;
font-weight:bold;
margin-top:8px;
margin-bottom:18px;
border-bottom:1px solid #CDCDCD;
}

/* Download Links */

#downloadlinks {
margin-left: 0;
padding-left: 4px;
padding-top: 6px;
padding-bottom: 6px;
border: 1px solid #C8E3F0;
background-color:#ECF7FB;
}
#downloadlinks li.pdflink { 
padding-left:30px;
padding-bottom:5px;
list-style-type: none;
background:url(/img/tak/icons/pdf.gif) no-repeat;
background-position:0 0px;  
} 
#downloadlinks li.ziplink { 
padding-left:30px;
padding-bottom:5px;
list-style-type: none;
background:url(/img/tak/icons/zip.gif) no-repeat;
background-position:0 0px;  
} 
#downloadlinks li.doclink { 
padding-left:30px;
padding-bottom:5px;
list-style-type: none;
background:url(/img/tak/icons/doc.gif) no-repeat;
background-position:0 0px;  
} 
#downloadlinks li.pptlink { 
padding-left:30px;
padding-bottom:5px;
list-style-type: none;
background:url(/img/tak/icons/ppt.gif) no-repeat;
background-position:0 0px;  
} 
#downloadlinks li.xlslink { 
padding-left:30px;
padding-bottom:5px;
list-style-type: none;
background:url(/img/tak/icons/xls.gif) no-repeat;
background-position:0 0px;  
} 
#downloadlinks li.rtflink { 
padding-left:30px;
padding-bottom:5px;
list-style-type: none;
background:url(/img/tak/icons/rtf.gif) no-repeat;
background-position:0 0px;  
} 
#downloadlinks li.mp3link { 
padding-left:30px;
padding-bottom:5px;
list-style-type: none;
background:url(/img/tak/icons/music.png) no-repeat;
background-position:0 0px;  
} 
#downloadlinks a{
font-size:12px;
font-weight:bold;
}
#downloadlinks span.downloadedtimes{
font-size:9px;
color:#009900;
}
#downloadlinks span.filesize{
font-size:9px;
color:#ff0000;
}