/* slider css */

/* glide */
.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slides {
  height: 100%;
  overflow: hidden;
  *zoom: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

.slide-item {
  height: 100%;
  float: left;
  clear: none;
}

.slider-arrow {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  padding: 20px;
}

.slider-arrow--right {
  bottom: 50%;
  right: 30px;
}

.slider-arrow--left {
  bottom: 50%;
  left: 30px;
}

.slider-nav {
  position: absolute;
  bottom: 60px;
}

.slider-nav__item {
  width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #fff;
}

.slider-nav__item:hover {
  background: #844;
}

.slider-nav__item--current {
  background: #6c6;
}

/* unique slider css */
.slider-nav__item {
  border-radius:50%;
}
.slider-arrow--right, .slider-arrow--left {
  background-image: url('/img/assets/glide/glide-arrows.png');
  background-repeat:no-repeat;
  width: 17px;
  height: 28px;
  display: block;
  padding: 0;
}
.slider-arrow--right {
  background-position: -17px 0;
}
.slider-arrow--left {

}

/* home page slider - start */
.slider1 .slide-item {
  height:100%;
  width:100%;
  background-position: center;
  background-size: cover;
}
.slider1 {
  color:#fff;
}
.slider1 .content {
  margin-top:17%;
  margin-bottom:35%;
}
.slider1 h2 {
  font-size: 3em;
  font-weight:200;
  margin-bottom: 0.5em;
}
.slider1 .note {
  width: 8rem;
  height: 8rem;
  max-height:8em;
  min-height:8em;
  max-width:8em;
  min-width:8em;
  display:inline !important;
  /*z-index: -9999;*/
}

/* let's make this mobile experience dance */
@media only screen and (max-width : 1200px) {
}
@media only screen and (max-width : 992px) {
    .ui.vertical.menu {
        width:100%;
    }
}
@media only screen and (max-width : 768px) {
    .slider1 h2 {
        font-size:2.5em;
    }
    .slider1 .note {
        max-height: 4em;
        min-height: 4em;
        max-width: 4em;
        min-width: 4em;
    }
    .slider2 .content, .slider3 .content {padding-left:12% !important;
        padding-right:12% !important;
    }
    /* because the line-width was too long */
    .ui.stackable.page.grid.like-this>.row>.column {
        padding-left:5em !important;
        padding-right:5em !important;
    }
    .ui.vertical.menu {
        width:100%;
    }
    body .ui.grid.footer-mail .row:first-child>.column:first-child{
        padding-top:3em !important;
    }
}
@media only screen and (max-width : 480px) {
    body section {
        padding:1em 0;
    }
    .slider1 {
        padding-top:55px;
    }
    .slider1 h2 {
        font-size:1.8em;
    }
    .slider1 .note {
        max-height: 2.8em;
        min-height: 2.8em;
        max-width: 2.8em;
        min-width: 2.8em;
    }
    .slider1 .content {
        margin-top:30%;
        margin-bottom:30%;
    }
    .slider-nav {display:none;visibility:hidden;}
    .ui.vertical.menu {
        width:100%;
    }
    #leftButton.computer.only {
        display:none;
    }
    .mobile.only {
        display:block;
    }
    .bit.layout.content {
    padding-top:90px;
    }
    body h1.ui.header {
    font-size:3em;
    font-weight:200;
    }
}
@media only screen and (max-width : 320px) {
    body section {
        padding:1em 0;
    }
    .slider1 {
        padding-top:55px;
    }
    .slider1 h2 {
        font-size:1.8em;
    }
    .slider1 .note {
        max-height: 2.8em;
        min-height: 2.8em;
        max-width: 2.8em;
        min-width: 2.8em;
    }
    .slider-nav {display:none;visibility:hidden;}
    .slider1 .content {
        margin-top:30%;
        margin-bottom:30%;
    }
    .ui.vertical.menu {
        width:100%;
    }
    body .ui.grid.footer-mail .row:first-child>.column:first-child{
        padding-top:3em !important;
    }
    #leftButton.computer.only {
        display:none;
    }
    .mobile.only {
        display:block;
    }
    .bit.layout.content {
    padding-top:90px;
    }
    body h1.ui.header {
        font-size:3em;
        font-weight:200;
    }
    .masthead.segment h1.ui.header {
        margin-top:.5em;
    }
}
