  <div class="ui vertical inverted black footer segment">
    <div class="container">
      <div class="ui stackable inverted divided relaxed grid">

        <div class="four wide column">
          <h3 class="ui blue inverted header">Facts</h3>
          <div class="ui inverted link list">
            <a class="item" href="/facts/protectionschemes.html">protection schemes</a>
            <a class="item" href="/facts/distributionschemes.html">distribution schemes</a>
            <a class="item" href="/facts/powschemes.html">PoW schemes</a>
            <a class="item" href="/facts/posschemes.html">PoS schemes</a>
            <a class="item" href="/facts/protocols.html">protocols</a>
            <a class="item" href="/facts/coins.html">altcoins</a>
          </div>
        </div>

        <div class="four wide column">
          <h3 class="ui orange inverted header">Concepts</h3>
          <div class="ui inverted link list">
            <a class="item" href="/concepts/protectionschemes.html">protection schemes</a>
            <a class="item" href="/concepts/distributionschemes.html">distribution schemes</a>
            <a class="item" href="/concepts/powschemes.html">PoW schemes</a>
            <a class="item" href="/concepts/posschemes.html">PoS schemes</a>
            <a class="item" href="/doacc-owl.html">DOACC</a>
            <a class="item" href="/ccy-owl.html">CCY</a>
          </div>
        </div>

        <div class="four wide column">
          <h3 class="ui green inverted header">Techniques</h3>
          <div class="ui inverted link list">
            <a class="item" href="/techniques/adding.html">adding facts</a>
            <a class="item" href="/techniques/reasoning.html">reasoning</a>
            <a class="item" href="/techniques/querying.html">asking questions</a>
            <a class="item" href="/faq.html">FAQ</a>
          </div>
        </div>

        <div class="four wide column">
          <h3 class="ui inverted header">DOACC <img style="padding-left: 1.3rem; height:32px; width:88px; vertical-align:middle;" src="/images/data-badge-5.png" alt="five star open Web data"/></h3>
          <p></p>
          <p class="terms-privacy">made with <i class="icon-rdf icon"></i> in the UK.</p>
          <p class="terms-privacy">&copy; 2015</p>
          <div class="ui inverted link list">
            <a class="terms-privacy" href="/about.html">About</a> |
            <a class="terms-privacy" href="/privacy-policy.html">Privacy</a> |
            <a class="terms-privacy" href="/terms.html">Terms</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="ui demo page dimmer">
    <div class="content">
      <div class="center"><h2 class="ui inverted icon header"><i class="mail icon"></i>Dimmer Message<br/><span class="sub header">Dimmer sub-header</span></h2></div>
    </div>
  </div>
