  <div class="ui vertical inverted sidebar menu" id="toc">

    <div class="item">
      <a class="ui logo icon image" href="index.html"><img src="images/logo.png" alt="logo"></a>
      <a href="index.html"><b>DOACC home</b></a>
    </div>
    <div class="item">
      <div class="ui small inverted header">Facts</div>
      <div class="menu">
        <a class="item" href="facts.html">Intro</a>
        <a class="item" href="facts-protectionschemes.html">Protection</a>
        <a class="item" href="facts-distributionschemes.html">Distribution</a>
        <a class="item" href="facts-powschemes.html">PoW</a>
        <a class="item" href="facts-posschemes.html">PoS</a>
        <a class="item" href="facts-protocols.html">Protocols</a>
        <a class="item" href="facts-coins.html">Coins</a>
        <a class="item" href="facts-future.html">Upcoming</a>
      </div>
    </div>
    <div class="item">
      <div class="ui small inverted header">Concepts</div>
      <div class="menu">
        <a class="item" href="concepts.html">Intro</a>
        <a class="item" href="things-protectionschemes.html">Protection</a>
        <a class="item" href="things-distributionschemes.html">Distribution</a>
        <a class="item" href="things-powschemes.html">PoW</a>
        <a class="item" href="things-posschemes.html">PoS</a>
        <a class="item" href="things-protocols.html">Protocols</a>
        <a class="item" href="things-coins.html">Coins</a>
        <a class="item" href="doacc-owl.html">DOACC OWL</a>
        <a class="item" href="ccy-owl.html">CCY OWL</a>
      </div>
    </div>
    <div class="item">
      <div class="ui small inverted header">Techniques</div>
      <div class="menu">
        <a class="item" href="techniques.html">Intro</a>
        <a class="item" href="techniques-rdfa.html">DOM</a>
        <a class="item" href="techniques-querying.html">Query results</a>
        <a class="item" href="techniques-javascript.html">Javascript</a>
        <a class="item" href="techniques-interactive.html">Interactive</a>
        <a class="item" href="techniques-charting.html">Charting</a>
        <a class="item" href="techniques-graphing.html">Graphing</a>
        <a class="item" href="techniques-adding.html">Adding facts</a>
        <a class="item" href="techniques-reasoning.html">Reasoning</a>
      </div>
    </div>

    <div class="item">
      <div class="ui small inverted header">Etc</div>
      <div class="menu">
        <a class="item" href="about.html">About</a>
        <a class="item" href="privacy-policy.html">Privacy</a>
        <a class="item" href="terms.html">Terms</a>
        <a class="item" href="altcoins.svg">Altcoin cheatsheet</a>
        <a class="item" href="hercules-demo.html">SPARQL demo</a>
        <a class="item" href="rdfstore-demo.html">RDFstore demo</a>
        <a class="item" href="twitter-demo.html">RDF/a demo</a>
      </div>
    </div>


  </div>

  <div class="ui black big launch right attached fixed button"> <i class="content icon"></i> <span class="text">Menu</span>
  </div>

  <div class="ui fixed main menu">
    <div class="container">
      <a class="launch item"><i class="content icon"></i> Menu</a>
      <div class="right menu">
      </div>
    </div>
  </div>
