<ul style="display:inline;list-style: none;padding: 0;margin:0;">
	<li><a href="https://twitter.com/vcoin" class="icon rounded fa-twitter"><span class="label">Twitter</span></a></li>	
	<li><a href="http://www.reddit.com/r/vcoin/" class="icon rounded fa-reddit"><span class="label">Reddit</span></a></li>	
	<li><a href="https://bitcointalk.org/index.php?topic=1059746" class="icon rounded fa-btc"><span class="label">BitcoinTalk</span></a></li>
	<li><a href="http://www.stumbleupon.com/submit?url=http://clamclient.com" class="icon rounded fa-stumbleupon"><span class="label">StumbleUpon</span></a></li>	
	<li><a href="https://github.com/vcoin-project/vcoin" class="icon rounded fa-github"><span class="label">Github</span></a></li>
	<li><a href="https://bleutrade.com/exchange/VCN/BTC" class="icon rounded fa-bar-chart-o"><span class="label">Poloniex</span></a></li>
	<li><a href="http://webchat.freenode.net/?channels=vcoin" class="icon rounded fa-terminal"><span class="label">IRC Channel</span></a></li>
	<li><a href="https://www.youtube.com/channel/UCmhbGn7eOO_sEHam5Nzih2g" class="icon rounded fa-youtube"><span class="label">YouTube</span></a></li>
	<li><a href="https://www.facebook.com/vcoin" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
	<li><a href="https://minkiz.co/abe/chain/VCoin" class="icon rounded fa-search"><span class="label">Block Explorer</span></a></li>	
	<!--<li><a href="#" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>-->
	<!--<li><a href="#" class="icon rounded fa-pinterest"><span class="label">Pinterest</span></a></li>-->
	<!--<li><a href="#" class="icon rounded fa-google-plus"><span class="label">Google+</span></a></li>-->
	<!--<li><a href="#" class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a></li>-->
</ul>