  <div class="ui vertical inverted sidebar menu" id="toc">

    <div class="item">
      <a class="ui logo icon image" href="index.html"><img src="/images/logo.png" alt="logo"></a>
      <a href="index.html"><b>DOACC home</b></a>
    </div>
    <div class="item">
      <div class="ui small inverted header">Facts</div>
      <div class="menu">
        <a class="item" href="/facts/index/index.html">Intro</a>
        <a class="item" href="/facts/protectionschemes/index.html">Protection</a>
        <a class="item" href="/facts/distributionschemes/index.html">Distribution</a>
        <a class="item" href="/facts/powschemes/index.html">PoW</a>
        <a class="item" href="/facts/posschemes/index.html">PoS</a>
        <a class="item" href="/facts/protocols/index.html">Protocols</a>
        <a class="item" href="/facts/coins/index.html">Coins</a>
        <a class="item" href="/facts/future/index.html">Upcoming</a>
      </div>
    </div>
    <div class="item">
      <div class="ui small inverted header">Concepts</div>
      <div class="menu">
        <a class="item" href="/concepts/index/index.html">Intro</a>
        <a class="item" href="/concepts/protectionschemes/index.html">Protection</a>
        <a class="item" href="/concepts/distributionschemes/index.html">Distribution</a>
        <a class="item" href="/concepts/powschemes/index.html">PoW</a>
        <a class="item" href="/concepts/posschemes/index.html">PoS</a>
        <a class="item" href="/concepts/protocols/index.html">Protocols</a>
        <a class="item" href="/concepts/coins/index.html">Coins</a>
        <a class="item" href="/concepts/doacc-owl/index.html">DOACC OWL</a>
        <a class="item" href="/concepts/ccy-owl/index.html">CCY OWL</a>
      </div>
    </div>
    <div class="item">
      <div class="ui small inverted header">Techniques</div>
      <div class="menu">
        <a class="item" href="/techniques/index/index.html">Intro</a>
        <a class="item" href="/techniques/rdfa/index.html">DOM</a>
        <a class="item" href="/techniques/querying/index.html">Query results</a>
        <a class="item" href="/techniques/javascript/index.html">Javascript</a>
        <a class="item" href="/techniques/interactive/index.html">Interactive</a>
        <a class="item" href="/techniques/charting/index.html">Charting</a>
        <a class="item" href="/techniques/graphing/index.html">Graphing</a>
        <a class="item" href="/techniques/adding/index.html">Adding facts</a>
        <a class="item" href="/techniques/reasoning/index.html">Reasoning</a>
      </div>
    </div>

    <div class="item">
      <div class="ui small inverted header">Etc</div>
      <div class="menu">
        <a class="item" href="/about/index.html">About</a>
        <a class="item" href="/privacy-policy/index.html">Privacy</a>
        <a class="item" href="/terms/index.html">Terms</a>
        <a class="item" href="/altcoins.svg">Altcoin cheatsheet</a>
        <a class="item" href="/hercules-demo/index.html">SPARQL demo</a>
        <a class="item" href="/rdfstore-demo/index.html">RDFstore demo</a>
        <a class="item" href="/twitter-demo/index.html">RDF/a demo</a>
      </div>
    </div>


  </div>

  <div class="ui black big launch right attached fixed button"> <i class="content icon"></i> <span class="text">Menu</span>
  </div>

  <div class="ui fixed main menu">
    <div class="container">
      <a class="launch item"><i class="content icon"></i> Menu</a>
      <div class="right menu">
      </div>
    </div>
  </div>

