@import url('http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic');
@import url('http://fonts.googleapis.com/css?family=Karma:400,600,400italic,600italic');
@import url('http://fonts.googleapis.com/css?family=Cantarell');
@import 'openwebicons.css';
.index .subheader {width:100%;background:#2f3238;height:160px;padding-top:60px;z-index:99;}
.hero {/*position:relative;height:260px;*/width:100%;/*background-color:#2f4050;background-image:linear-gradient(#263340, #2f4050)*/}
.hero .grid-left {background-image:url(/stylesheets/assets/grid-left.png);background-repeat:repeat-y;position:absolute;left:0;top:0;height:100%;width:360px;opacity:0.05}
.hero .grid-right {background-image:url(/stylesheets/assets/grid-right.png);background-repeat:repeat-y;position:absolute;right:0;top:0;height:100%;width:360px;opacity:0.05}
.hero h1 {color:#fff;padding-top:1.5em;font-size:70px;text-align:center;max-width:980px;letter-spacing:3px;border-bottom:1px solid rgba(255,255,255,0.2);margin:0 auto;text-shadow:0 0 45px #1c2630}
.hero .subheadline {display:block;text-align:center;color:#ccc;font-size:35px;font-weight:400;margin-top:20px;margin-bottom:2em}
.hero .one-third {width:33%;display:inline-block;height:220px;background:#2f4050;border-right:1px solid #3c5266;border-top:1px solid #3c5266;border-bottom:1px solid #3c5266;position:relative;transition:background-color .2s linear}
.hero .one-third:first-child {border-left:1px solid #3c5266;color:#5e80a0}
.hero .one-third:hover {background-color:#35485a}
.hero .one-third:nth-of-type(2) {color:#ff8c66}
.hero .one-third:last-child {/*color:#1ab394*/ color: #5bbd72}
.hero .one-third h3 {text-align:center;font-size:45px;margin:1em auto 0.5em auto}
.hero .one-third .call-out {color:#fff;display:block;text-align:center;margin-bottom:2em;font-size:17px;padding:0 1.5em}
.hero-backdrop {background:#444349;position:absolute;height:45rem;width:100%;top:0;left:0;z-index:-1}
.more-info {padding:120px 0}
.more-info .ui.column.grid {margin-bottom:50px;padding:0 100px}
.more-info .ui.column.grid p {font-size:18px;width:330px}
.more-info i.icon.massive {color:#ccc}
.more-info .ico-holder {text-align:center !important;padding-top:20px !important}
.email-social {background-color:#f0f0f0; border-top:1px solid #d5d5d5; padding:120px 0; margin-bottom:-40px}
.email-social .email-collect {font-size:20px;text-align:center;display:block;margin-bottom:10px}
.ui.segment {background:#f2f2f2}
.hero.message {padding:0 4em 2em 4em;text-align:center;margin:8em auto 14em auto}
.hero.message h1 {font-size:3em;line-height:2em;text-shadow:0px 0px 35px #111;font-weight:500;text-transform:uppercase;padding:20px 30px;border-bottom:1px solid #404040;background:rgba(105,137,181,0.5)}
.hero.message p {font-weight:300;color:#a6a6a6}
.ui.tabular.menu .active.item:first-child{background:#f7f7f7;border-bottom:1px solid transparent}
.ui.breadcrumb a{color:rgba(255,255,255,0.5);border-bottom:1px solid rgba(255,255,255,0.2);padding-bottom:3px !important}
.ui.breadcrumb a:hover{color:rgba(255,255,255,0.7)}
.right-content{float:right}
.terms-privacy {color:#666}
a.terms-privacy:hover {color:#aaa}
span.blue {color: #54c8ff;}
span.orange {color: #ff851b;}
span.green {color: #2ecc40;}
.container p {font-size: 1.2rem; line-height:1.8rem; font-family: "Karma", "Georgia", "Calibri", "Comic Sans", "Lato", serif;}
.subj, .pred, .obj, .reln {font-weight: bold;} 
.subj {color: #f00;}
.pred {color: #00E200;}
.reln {color: #D200B0;}
.obj {color: #00f;}
.shy {color: #bbb;}
pre { padding:0.3rem; }
pre span.hljs-literal {color: #00f;}
pre span.hljs-language {color: #B4B4B4;}
pre span.hljs-relation {color: #008E2A;}
pre span.hljs-subject {color: #BE0009;}
pre.code { line-height: 2rem; }
#results { font-size:80%; min-height: 10rem; }
#results .segment {min-height: 10rem;}
#spinner { margin:20rem 20rem; }
/* fact sheets */
.dimmer { margin-bottom:3rem; }
ul.opt li {font-size: 118%;}
ul.opt li a {font-family: monospace;}
ul.opt li i {font-size: 116%; color: purple;}
h2.ui.dividing.header {padding: 1.5rem 0;}
.rth {color: ivory;}
#heading { font-family: sans-serif; color: black; background-color: #eed;  }
#heading div { width: 20em;  height: 8em; padding: 1em; background-color: white; border: 5px black; margin-left:20em; margin-right: 1em; margin-bottom: 1em; margin-top: 1em}
#heading img { height: 8em}
#heading small { color: #999; }
span.aside {font-style: italic; font-size: 85%; color: #999;}
span.rl {color: #fff;}
span.library {color: #aaa !important;}
span.subheadline {font-size: 200%; color: #f2c61f;}
