<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
  {% include _head.html %}
</head>

<body id="doacc" class="index">
  <noscript>
    <div class="noscript">
    Your browser settings show that JavaScript is disabled. (Good call, we too browse with javascript disabled). If you enable it for this site, you’ll get the full benefit of the user-oriented enhancements: nice fonts, drop-down menus, active tabs and the like. We recommend that you turn on Javascript and then refresh this page. <a href="http://www3.qwest.com/cgi-bin/qwest.cfg/php/enduser/std_adp.php?p_faqid=1095" target="_blank">How do I turn on Javascript?</a>
    </div>
  </noscript>

  {% include _browser-upgrade.html %}
  {% include _toc.html %}

  <div class="pusher">
    <div class="full height">
{% include _navigation.html %}
      <div class="subheader">
        <div class="container">
          <div class="right-content">
            <a href="#">“All we know are the facts, ma’am.”</a> <span class="rth"> - Joe Friday, <i>Dragnet</i></span>
          </div>
          <h2 class="ui header inverted">News
            <div class="sub header">News of the DOACC community, developments, interesting usage cases, approaches, insights, administrivia, etc..</div>
          </h2>
        </div>
      </div>
        <div class="container">
          <div class="ui sub secondary pointing menu">
            <a class="active item" href="/news/index.html">Index</a>
            <a class="item" href="/news/all-news/index.html">Archive</a>
            <a class="item" href="/news/new-articles/index.html">New</a>
            <a class="item" href="/news/posts/index.html">Posts</a>
          </div>
          {% for post in site.posts limit:20 %}
            {% if post.link %}
              <h2 class="ui dividing header"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-link"></i></a></h2>
              <p>Posted: <time datetime="{{post.date}}">{{post.date}}</time></p>
            {% else %}
              <h2  class="ui dividing header"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
              <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
              <p>Posted: <time datetime="{{post.date}}">{{post.date}}</time></p>
            {% endif %}
          {% endfor %}
          <div class="ui hidden divider"></div>
        </div>
    </div>
  </div>

  <footer>
    {% include _footer.html %}
  </footer>

  {% include _scripts.html %}
  
</body>
</html>
